/*
* {
  box-sizing: border-box;
  padding: 1;
}
*/

td, th, .tableClass {
  border: 1px solid black;
}

body {
  font-family: sans-serif;
  line-height: 2.0;
  text-align: center;
  background-color: #ffff;
}

.container{
  background-color: #F3ECEB;
  padding-left: 170px;
  padding-right: 170px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
