/*
* {
  box-sizing: border-box;
  padding: 1;
}
*/

.jumbotron {
  background-image: url(https://images.everydayhealth.com/images/diet-nutrition/all-about-bananas-nutrition-facts-health-benefits-recipes-and-more-rm-722x406.jpg?w=1110);
}

#rowAlc, #rowCarb, #rowLip, #rowEn {
  background-color: #ffffff;
}

td, th, .tableClass {
  border: 1px solid black;
}

body {
  font-family: sans-serif;
  line-height: 3.0;
  text-align: center;
  background-color: #ffffff;
}

.container-fluid{
  background-color: #F3F3F3;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 10px;
  padding-bottom: 100px;
  
}

